mixin paginator()
  .ades-search__paginator
    el-pagination(layout="total, prev, pager, next, jumper",
      :current-page="curPage",
      :page-size="pageSize",
      :total="total",
      @current-change="handlePageChange")
    el-select.per-page(v-model="pageSize",
      @change="search(1)",
      size="small")
      el-option(:value="10", label="10/page")
      el-option(:value="20", label="20/page")
      el-option(:value="50", label="50/page")
      el-option(:value="100", label="100/page")

mixin edit-btn()
  el-tooltip(content="Edit", placement="left-start", :open-delay="600")
    el-button(size='mini', @click="handleEdit(scope.row)", type="primary", icon="el-icon-edit", :disabled="disableEdit")
mixin delete-btn()
  el-tooltip(content="Delete", placement="left-start", :open-delay="600")
    el-button(size='mini', @click="handleDelete(scope.row)", type="danger", icon="el-icon-delete", :disabled="disableDelete")
mixin add-btn()
  el-button(type="primary", @click="handleAdd", :disabled="disableAdd") 新建
mixin filter-btn()
  el-button(type="primary", @click="search(1)") 过滤
mixin reset-btn()
  el-button(@click="resetQuerybar") 重置

block vars
  - var rootClass = ''

mixin breadcrumb()
  el-breadcrumb.ades-search__breadcrumb(separator="/")
    block breadcrumb-items

.ades-search(class=rootClass)
  +breadcrumb()
  <br>
  block querybar
    el-form.ades-search__querybar(ref="form", :inline="true", :model="queryParams")
      block querybar-form-items
      block querybar-operations
  +paginator()
  block table
    el-table.ades-search__table(:data="tableData",
      :highlight-current-row="select === true",
      v-loading="loading",
      @current-change="handleCurrentChange",
      @selection-change="handleSelectionChange",
      :span-method="spanMethod")
      el-table-column(
        v-if="select === 'multi'",
        type="selection",
        width="55",
      )
      block table-columns
      el-table-column(label="Operations")
        template(slot-scope="scope")
          el-button-group.ades-search__operations
            block table-operations
  <br>
  +paginator()